[submodule "week1/day2/302-docker-neuroimaging"]
	path = week1/day2/302-docker-neuroimaging
	url = https://github.com/oesteban/302-docker-neuroimaging
[submodule "week1/day2/302-whalesay"]
	path = week1/day2/302-whalesay
	url = https://github.com/oesteban/whalesay
[submodule "week1/day2/302-docker-compose-neuro"]
	path = week1/day2/302-docker-compose-neuro
	url = https://github.com/oesteban/302-docker-compose-neuro.git
[submodule "week2/day1/302-docker-airflow"]
	path = week2/day1/302-docker-airflow
	url = git@github.com:oesteban/302-docker-airflow.git
